<%- include('partials/header') %>

  <div class="container">
    <div class="sub-container">
      <h1>Admin-Login</h1>
      <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
          <!-- Makes POST request to /login route -->
          <form action="/admin-login" method="POST">
            <div>
              <label for="email">Username</label>
              <input type="text" class="form-control" name="username" required>
            </div>
            <div>
              <label for="password">Password</label>
              <div class="password-input-wrapper">
                <input type="password" class="form-control" id="passwordInput" name="password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility('passwordInput')">
                  <i class="fas fa-eye"></i> <!-- Font Awesome eye icon -->
                </span>
              </div>
            </div>

            <button type="submit" class="btn">Login</button>
          </form>
    </div>
  </div>

  <%- include('partials/footer') %>