<%- include('partials/header') %>

<div class="navigation_bar">
  <div class="left_items">
    <a class="nav eBallot" href="">eBallot</a>
    <a class="nav" href="">About Us</a>
    <a class="nav" href="">Programs</a>
    <a class="nav" href="">Contacts</a>
  </div>
  <div class="right_items">
    <a class="nav main login" href="/login" role="button">Login</a>
    <a class="nav main sign_up" href="/register" role="button">Sign Up</a>
  </div>
</div>

<div class="message">
<p>"Empower your voice with the click of a button - where every vote counts and every option shapes the future. <br>
Experience the convenience of online voting, bringing democracy to your fingertips."</p>

<a class="learnmore" href="/learnmore">Learnmore</a>
</div>


<%- include('partials/footer') %>
